
body {
    background-color: #f8e3f1; 
    font-family: 'Poppins', sans-serif; 
    color: #333;
    
}

.fondoBody{
    text-align: center;
}
/* Barra de navegación */
.navbar {
    background-color: #7b1fa2; 
}

.navbar .btn {
    margin-right: 15px;
}

/* Botones */
.btn-light {
    color: #7b1fa2;
    background-color: #fff;
    border-color: #7b1fa2;
}

.btn-login {
    background-color: #4caf50; 
    border-color: #4caf50; 
    color: #fff;
}

.btn-logout {
    background-color: #f44336; 
    border-color: #f44336; 
    color: #fff;
}


.bg-dark {
    background-color: #7b1fa2 !important; 
}

/* Centrando el logo */
.centered-logo img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
}

/* Fondo para el cuerpo */
.fondoBody {
    background-color: #f8e3f1; 
    padding: 50px 0;
}

/* Encabezado */
h1 {
    color: #6a1b9a; 
    font-size: 36px;
}


p {
    color: #555;
    font-size: 18px;
}

/* Categorías */
ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    color: #ff69b4; 
}

.card {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}
.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.centradoBoton{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}